body, html{
  height:100%;
}
body {
  background: url(retro.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  font-family: 'Revalia', cursive;
}
body, a:link, a:visited, a:active{
  color: #e107f9;
}

.title{
  float:right;
  margin-right: 10px;
  color: #30ffff;
}
.addDancerButton,
.addPacMan,
.lineUp,
.addGhost,
.lineDance {
  padding-top: 5px;
}
.topbar{
  height:32px;
  background-color: #555;
  padding-top: 5px;
}
.topbar a {
  margin-left: 15px;
}

.dancer{
  border: 7px solid #f9b8dd;
  border-radius: 7px;
  position: absolute;
}
.pacman{
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-top: 20px solid;
  border-left: 20px solid;
  border-bottom: 20px solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: yellow;
  position: absolute;
  -webkit-animation: pacmen 0.4s infinite;
}

@-webkit-keyframes pacmen {
  0%   { border-top-left-radius: 20px; border-bottom-right-radius: 20px; }
  50%  { border-top-left-radius: 23px; border-bottom-right-radius: 23px; }
  100% { border-top-left-radius: 20px; border-bottom-right-radius: 20px; }
}

.ghost {
  position: absolute;
}

.ghostName {
  color: transparent;
  position: absolute;
}

p:hover {
  color: #fff;
  transition: all 0.3s ease;
  transform: scale(1.5) rotate(360deg);
  padding-top: 14px;
}

audio {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}













